@import "library";

main {
	width: 100%;
	.requirements {
		position: relative;
		.container {
			padding-top: 5rem;
			position: relative;
			z-index: 1;
			h2 {
				@include text-3xl;
				font-weight: 800;
				text-transform: uppercase;
				color: $blue;
			}
			div {
				p {
					margin: 1.5rem 0;
				}
				a {
					text-decoration: underline;
				}
			}
		}
		.carousel {
			.owl-carousel {
				.item {
					margin: 2rem;
				}
			}
		}
	}
}
